{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h3>Запрашиваемая страница не найдена</h3>
            <p><a href="{{ path('main_homepage') }}">Вернуться на главную</a></p>
        </div>
    </div>
{% endblock %}