{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">16.06.2015</p>
                <h2 style="margin-top: 0px;">
                    Каким должно быть начало урока, чтобы у ребят появился положительный настрой на работу?
                </h2>
                <p>
                    Готовясь к уроку, каждый преподаватель составляет дневной план. Это не просто прихоть администрации или навязчивое ненужное требование, а важное условие, позволяющее правильно спланировать ход урока на всех его этапах. Одним из первых пунктов плана является Организационный момент. Обычно здесь учитель проставляет количество времени – 1-2 минуты и не более того, а ведь именно от этого этапа зачастую зависит эффективность всего учебного процесса на уроке. Оргмомент создает определенный настрой, и очень важно, чтобы он выполнял мотивирующую функцию. Известный факт: даже обезьяна не возьмет в руки палку, если у нее не будет мотивации. Палка ей нужна для добычи банана. Так же и дети – без заинтересованности к происходящему не смогут работать с полной отдачей.
                </p>
                <p>
                    От того, какой интерес учитель хочет пробудить у детей – произвольный или нет, будут зависеть его поведение и фразы. При произвольном внимании человек сразу все понимает и осознает без сторонней помощи необходимость выполнения каких-либо действий. Провести же результативно оргмомент на основе непроизвольного интереса – дело мастера. Такой тип внимания возникает спонтанно. И вот тут педагогу надо постараться, чтобы пробудить детский интерес.
                </p>
                <p>
                    Несколько проверенных и эффективных способов проведения начала урока.
                </p>
                <p>
                    1. Активизация внимания школьников в начальной школе происходит благодаря следующим приемам:
•	Применение стихов-настроев (в их основе – настрой детей на работу в рифмованной форме, а варианты могут быть любые). Например:
Прозвенел уже звонок –
Начинаем наш урок.
Открываем все тетрадки,
В книжках нужные закладки.
На вопросы отвечаем,
Когда нужно – замолкаем.
В теме будем разбираться,
Главное – не отвлекаться!
Прозвенел уже звонок,
Начинается урок.
Встаньте, дети, не ленитесь,
Все мне дружно улыбнитесь.
Здравствуйте, ребята, сели
И на парты посмотрели.
Будут нужными опять:
Книжка, ручка и тетрадь.
Не забудет про дневник
Ни один наш ученик.
Молодцы! Готов весь класс,
Тему назову сейчас.
Можно учителю самому прочесть эти строки с выражением, а можно сразу же подключить детей, дав им возможность отгадать важные для урока слова.
•	Настрой на совместную работу благодаря фразам - наша тема, наш урок, наше задание. Объединение с учителем оказывает психологическое воздействие, развивает ответственность и внимание к поставленным задачам.
•	Театральное начало с приглашением Незнайки, например. На эту роль можно привлечь старшеклассников либо наиболее сильных учеников класса. При этом следует продумать антураж, привлекающий внимание детей, задания в виде игры, а по ходу урока поощрения от сказочного героя.
•	Музыкальное сопровождение.
•	Иллюстрации, яркие плакаты. Наглядность часто вызывает небывалый интерес.

                </p>
                <p>
                    2. Психологические минутки:
Так, например, многих заинтересует необычное приветствие “Здравствуйте!”
Учащиеся поочередно касаются одноименных пальцев рук своего соседа, начиная с больших пальцев и говорят:
•	желаю (соприкасаются большими пальцами);
•	успеха (указательными);
•	большого (средними);
•	во всём (безымянными);
•	и везде (мизинцами);
•	Здравствуйте! (прикосновение всей ладонью)

                </p>
                <p>
                    3. Поэтические минутки. Это всегда впечатляет, вызывает уважение со стороны учащихся, ведь им хорошо известно, насколько сложно учить стихи. Если же учитель продекламирует строки с выражением, необходимыми эмоциями, а еще и в тему, то успех в создании положительного настроя гарантирован.
                </p>
                <p>
                    4. Случай из жизни. Зайдя в класс, учитель демонстрирует переполняющие его эмоции от увиденного или услышанного эпизода и начинает рассказывать жизненную историю. На учеников это оказывает ошеломляющее действие. Вроде как литература, а нам тут про случай в автобусе. Тем не менее, для концентрации внимания и доверительного настроя между учителем и учениками короткая история оказала пользу. Можно переходить к теме урока.
                </p>
                <p>
                    5. Либо вовсе педагог может вспомнить интересный анекдот, суть которого близка к изучаемому материалу. Для детей это всегда необычно, остроумно, по-взрослому и во многом поучительно.
                </p>
                <p>
                    6. Прием «Интрига». В начале урока задается интересный, неожиданный вопрос, на который ответить ученики смогут лишь по окончанию занятия.
                </p>
                <p>
                    7. Связь с жизненными ситуациями. Прекрасный пример из практики учителя истории при рассмотрении темы «Перестройка в СССР». Учитель подговорил одного своего ученика, чтобы тот не много опоздал. После звонка, когда все сели за парты, этот ученик зашел. Учитель тут же стал его ругать. Но через минуту улыбнулся, признался, что это шутка, и спросил ребят, что они чувствовали в тот момент? Ответы были однозначны – волнение, испуг. Однако все было сделано для того, чтобы передать ребятам атмосферу жизни в рамках тоталитаризма. После минутного реального инцидента учитель перешел к рассказу об обстановке при советской власти.
                </p>
                <p>
                    8. Используйте нестандартные формы проведения уроков. КВН, Брейн-ринг, Поле чудес и другие. В отношении времени на подготовку такой подход более затратный, зато в плане настроя и поддержания интереса к предмету и теме урока он целиком себя оправдывает. Все необычное всегда привлекает куда больше.
                </p>
                <p>
                    Методов для создания продуктивного настроя много, и каждый учитель формирует сам свою «копилку». Важно – не применять их часто в одном и том же классе, видоизменять и понимать, что выбор средств должен зависеть от настроения класса и каждого ребенка в отдельности. Удачное начало урока – это уже половина успеха. Помните об этом!
                </p>
            </div>
        </div>
    </div>
</div>
    {% endblock %}

{% endblock %}