{% extends 'base.html.twig' %}

{% block body %}

{% block content %}

<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">06.07.2015</p>
                <h2 style="margin-top: 0px;">
                    Школьное обучение – необходим ли контроль?
                </h2>
                <p>
                    Учеба в школе дается легко и просто далеко не каждому ребенку. Одни ученики учатся с радостью и интересом, легко воспринимают новые знания, другие постоянно отстают по программе и не могут понять элементарных вещей. В каждом случае ситуация зависит от многих факторов. Здесь и умение учителя заинтересовать своим предметом, и особенности детского организма, способности ребенка, уровень развития памяти и мышления, правильная мотивация к обучению. Огромное значение имеет отношение родителей к обучению ребенка – некоторые дети учатся самостоятельно, для других нужен постоянный контроль.
                </p>
                <p>
                    Как отмечают психологи и педагоги, родители должны принимать обязательное участие в процессе обучения ребенка в школе. Причем не только в качестве контролеров, а в большей степени в качестве помощников. Далеко не всегда ребенку бывает понятна новая тема или новая задача, поэтому помощь родителей будет необходима. Нужен и минимальный контроль - проверка письменных и устных домашних заданий.  Это позволит родителям быть в курсе успехов и проблем обучения, а ребенку не расслабляться и сконцентрироваться на учебе.
                </p>
                <p>
                    Обязательным является и общение родителей с преподавателями. Школьное обучение может быть совсем не таким простым, как может показаться на первый взгляд. Ребенок может сообщать только о части заданных на дом заданий, говорить, что в школе у него всё в порядке и он прекрасно успевает, а на самом деле  не справляется и с половиной объема программы. Поэтому, чтобы быть в курсе истинной ситуации, родители должны регулярно посещать родительские собрания, интересоваться текущим процессом обучения.
                </p>
                <p>
                    Все общеобразовательные школы обладают таким преимуществом как возможность постоянного общения с преподавателями и осуществление контроля за обучением ребенка. К примеру, если ребенок обучается дистанционно английскому или немецкому языку, то таких возможностей у родителей не будет. Поэтому дистанционное обучение является наиболее эффективной системой при обучение взрослых, которые заинтересованы в результате обучения.
                </p>
                <p>
                    При появлении у ребенка проблем в учебе в первую очередь нужно проанализировать причины их возникновения. Любое обучение состоит из трех основных составляющих – мотивация к обучению, способ подачи материала и индивидуальные способности к усвоению полученной информации. Если ребенок больше не проявляет интереса к учебе, то возможно у него нет цели обучения – в такой ситуации нужно провести с ним беседу, аргументировано объяснить, зачем ему нужно образование.
                </p>
                <p>
                    Возможно, произошли нарушения в системе обучения. Учебный процесс в школе может быть построен с направленностью на результат и не учитывать при этом возрастные, педагогические и психологические нормы для детей. Поэтому преподносимый материал может стать непонятным и неинтересным для ребенка. Важную роль играют и особенности развития ребенка. Ему, возможно, необходима коррекция, доразвитие – устранение факторов, делающих невозможным его успешное обучение в данный момент. Такими факторами может быть недостаточность мозговых функций, отвечающих за память, мышление, внимание и т.д.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}