{% extends 'base.html.twig' %}

{% block body %}

{% block content %}

<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">20.07.2015</p>
                <h2 style="margin-top: 0px;">
                    Чем заняться школьнику в каникулы?
                </h2>
                <p>Большинство экспертов сошлись во мнении, что всё-таки придется организовать время и пространство для детей во время каникул. Это в первую очередь необходимо для снижения безнадзорности. Ведь если ребенок находится под присмотром, то серьёзно снижается травматизм, а увлечения алкоголем и наркотиками вообще не должно возникнуть. Ту же тягу к компьютерным играм в каникулы можно снизить, если дети будут чем-то заняты.</p>                
                <p>Кроме структурирования времени школьников есть ещё и другие цели: учить детей разговаривать друг с другом, самостоятельно проводить время, формировать у них адекватную самооценку и познавательный интерес. Многие также говорят о развитии памяти, мышления, речи.</p>
                <p>Возникают споры и о том, насколько добровольным должно быть каникулярное обучение. В учебное время ребенок обязан ходить на занятия, а нужно ли его обязать в каникулярное?</p>
                <p>С дисциплиной тоже могут возникнуть проблемы. Будут ли школьники столь же послушны или у них будет «каникулярное настроение», когда «все можно». </p>
                <p>И педагогам тоже придется напрячься: многие воспринимают каникулы как праздник. Захочется ли им работать на «всю катушку»?</p>
                <p>Нужно будет обеспечить санитарные, гигиенические и другие нормы, постоянно проводить переобучение педагогов, набрать новые кадры (музыкальных работников, методистов, тренеров, педагогов). А для этого нужно время, специалисты, деньги, контроль (например, по охране здоровья и технике безопасности). </p>
                <p>Оплата в каникулярное время может производиться по-разному: за счет бюджета, за счет спонсоров или родителей. Но в связи с кризисом материальные расходы все хотят переложить друг на друга.</p>
                <p>В качестве формы эксперты предлагают в каникулярное время концентрироваться на игровой деятельности: игры, викторины, конкурсы, интеллектуальные посиделки, командные конкурсы, театрализованные представления.</p>
                <p>Педагоги, работающие с детьми во время каникул, отмечают, что им удалось добиться гибкости мышления, воображения, развития творческих способностей, нового восприятия привычных объектов. Из направлений работы указывалась работа с юными журналистами, юными биологами, юными туристами, кружки по прикладным видам творчества (рисованию, шитью, путешествиям, народным ремеслам). Это время предлагается использовать для воспитания патриотизма: программы, посвященные разным событиям в истории России и краеведению. Во время каникул можно преподавать очень сложные предметы в увлекательной форме, например, не просто «Физика», а «Занимательная физика». </p>
                <p>Родители из числа опрошенных по данному вопросу в большинстве своем были «за» дополнительное образование во время каникул. Но были высказаны пожелания, чтобы занятия проводились недалеко от дома, в экологически чистых местах. Многие жаловались на нехватку хороших педагогов и материально-технической базы: игровых комнат, залов, спортивного инвентаря.</p>
                <p>Возможно, что всплеск работы со школьниками во время каникул стоит ожидать уже в ближайшее лето. К этому моменту у детей появится свободное время, а у взрослых понимание – как его проводить с пользой.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}