{% extends 'base.html.twig' %}

{% block body %}

{% block content %}

<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">21.06.2015</p>
                <h2 style="margin-top: 0px;">
                    Родители школьников будут платить за продленку
                </h2>
                <p>
                    Законопроект, исключающий доплату за пребывание ребенка в образовательном учреждении после уроков, не получил одобрения правительства.
                </p>
                <p>
                    Государственные школы продолжат взимать плату c родителей за пребывание ребенка в группах продленного дня. Правительство РФ, Минобрнауки и комитет по образованию Госдумы не поддержали законопроект об исключении «возможности взимания в государственных и муниципальных общеобразовательных учреждениях» какой-либо платы за уход и присмотр за детьми после уроков (проект заключения есть в распоряжении «Известий»). По мнению комитета, рассматривавшего проект закона, в случае реализации депутатской инициативы из государственного бюджета потребуются дополнительные расходы, а сами школы, не имея средств на оплату услуг по уходу и присмотру за учениками, продленку больше предлагать не смогут.
                </p>
                <p>
                    Напомним, законопроект, освобождающий родителей от доплат за пребывание детей в школьных группах продленного дня, был внесен в Госдуму в ноябре 2014 года депутатом нижней палаты от фракции КПРФ Николаем Васильевым. По мнению инициатора поправки в закон «Об образовании», принятие законопроекта должно было снять социальную напряженность, возникшую осенью 2014 года в связи с введением в ряде регионов России оплаты присмотра за школьниками, остающимися на продленке. Васильев аргументировал свою негативную оценку нововведения тем, что питание в школах вне зависимости от того, остается ученик в школе после уроков или нет, оплачивается родителями, а никаких мер по организации хозяйственно-бытового обслуживания и обеспечению соблюдения детьми личной гигиены и режима дня (за исключением тех, что уже осуществляются во время учебного процесса) на продленке не осуществляется.
                </p>
                <p>
                    Однако в правительстве доводы депутата не нашли поддержки: в проекте заключения комитета, рассматривавшего законопроект, подчеркивается, что отмена платы за пребывание ребенка на продленке прежде всего «исключает возможность предоставления такой услуги (продленки – “Известия”) образовательными организациями, реализующими основные образовательные программы общего образования, что приведет к возникновению социальной напряженности во всем обществе либо потребует дополнительных бюджетных ассигнований».
                </p>
                <p>
                    Также в заключении поясняется, что в настоящее время плата за пребывание ребенка в группах продленного дня взимается согласно договору, заключенному между школой и официальными представителями ученика, в котором прописано, что «родительская плата обеспечивает только возмещение расходов общеобразовательной организации на оказание услуги по присмотру и уходу за детьми в группах продленного дня». Также профильным комитетом подчеркивается, что, согласно действующей редакции закона «Об образовании», школы вправе брать плату за продленку, но она не является обязательной и руководители образовательных учреждений могут по своему усмотрению освобождать от платы за пребывание чада в стенах школы после уроков отдельные категории родителей.
                </p>
                <p>
                    Как сообщали «Известия» ранее, цены на продленки в разных регионах России отличаются и, согласно данным рабочей группы «Единой России», самая высокая цена услуги пребывания ребенка в школе после уроков была зафиксирована в Москве (в одном из образовательных учреждений она составила 17 тыс. рублей в месяц за одного ученика).
                </p>                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}