{% extends 'base.html.twig' %}

{% block body %}

{% block content %}

<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">15.07.2015</p>
                <h2 style="margin-top: 0px;">
                    Что нужно знать родителям первоклассников. Советы психолога
                </h2>
                <p>Из обычного житейского опыта и из самых умных психологических книжек известно, что тревога и волнение по поводу 
                    предстоящего события нарастают по мере его приближения. Это особенно касается ответственных жизненных перемен и ситуаций
                    типа "неизвестно, как все сложится".
                </p>
                <p>Поэтому можно понять волнения родителей первоклассников, а также самих первоклассников накануне 1 сентября. 
                    «Как пройдет знакомство со школой?». «Справится ли малыш с требованиями и правилами школы, с укладом школьной жизни?». «Подружится ли с одноклассниками?». «Не растеряется ли в незнакомой ситуации?»… И это ещё не весь набор их переживаний. А зачастую ситуация, несмотря на праздность, перетекает в стрессовую. Но, не смотря ни на что, "первый раз в первый класс" - ПРАЗДНИК. И как не испортить этот праздник, какие действия предпринять, чтобы подготовить ребенка к школе психологически, сделать менее стрессовым знакомство со школой – вот важная задача для родителей. Давайте в этом разберемся. Важным выводом, сделанным психологами, является то, что главная причина возникновения стресса состоит в недостаточной информированности. 
                    Проще говоря, чем меньше осведомлен человек о ситуации, тем сильнее его волнение и тревога.
                </p>
                <p>
                    Поэтому родителям следует, как можно раньше познакомить ребенка со школой, еще до 1 сентября.
                </p>
                <p>
                    1. Расскажите ребенку подробно о школе, о том, как дети ведут себя в школе, как проходит урок, чему учат в первом классе, какова роль учителя,
                    что такое перемена. Расскажите, что кроме учителя в школе ему встретятся другие люди: завуч, директор, другие учителя, руководители кружков и т.д.
                    Объясните, чем они занимаются. 
                    Если у ребенка появятся вопросы, на них необходимо подробно, с разъяснениями ответить.
                </p>
                <p>
                    2. Сводите в школу на экскурсию будущего первоклассника. Проведите ребенка по этажам, посетите кабинеты, спортивный и актовый залы, загляните в столовую. 
                    Обратите внимание ребенка на приятные моменты школьной жизни: кружки, праздники, совместные мероприятия.
                </p>
                <p>
                    3. Если возможно, то лучше ребенка заранее познакомить с его учительницей. Когда он пойдет не просто в школу, а к кому-то, кто тебя ждет – это намного приятнее. Это особенно касается стеснительных и робких детей, 
                    а также тревожных ребят, у которых присутствует страх перед плохими оценками и учителями.
                </p>
                <p>
                    4. Лучше всего шести- семилетние дети воспринимают новую информацию в форме игры, в игровых ситуациях осваивают новые модели поведения – это 
                    их психологические особенности. Поэтому для достижения максимального эффекта знакомства со школой лучше поиграть с ребенком в школу. Посадите папу, 
                    бабушек, плюшевых медвежат, кукол за воображаемые парты, позвольте ребенку побыть в разных ролях – учителя, ученика, директора, или того, кем он сам захочет 
                    быть. Объясните ему правила игры и разыграйте различные ситуации, происходящие в школе: уроки, перемены, как познакомиться с соседом по парте, как вести себя
                    в столовой, как попроситься в туалет и т.д. Самое важное, чтобы ребенок получал удовольствие от игры, поэтому игру нужно наполнить радостью, творчеством,
                    ощущением успеха. 
                    Можно также сыграть с ребенком в игру «1 сентября», дав малышу разные роли.
                </p>
                <p>
                    5. Важно выяснить, какие опасения и фантазии по поводу школы есть у вашего ребенка. Не напирая, тактично, спросите об этом у малыша. 
                    Начните с вопроса «Хочется ли тебе идти в школу?». Если ответ «нет», выясните причины, убедите ребенка в необоснованности его опасений,
                    успокойте. Если опасения ребенка обоснованы, ребенок боится того, о чем не знает, сначала успокойте его, потом разъясните его незнание,
                    а ещё лучше поиграйте с ним в тревожащую его игру, покажите способы выхода из неё. Например, если ребенок не знает, как ему подружиться с
                    одноклассниками, то поиграйте с ним в игру как в детский сад приходит новичок. Используйте игрушки, сами сыграйте новичка, покажите, как он знакомиться 
                    с детьми (их пусть сыграет ребенок). Потом ролями поменяйтесь. Таким образом, можно научить ребенка, как вести себя во время знакомства. Еще одна причина
                    любого стресса – резкость изменений, которые происходят в жизни человека. Здесь можно порекомендовать следующее.
                </p>
                <p>
                    6. Школа требует соблюдения особого режима и распорядка дня. Эти требования для начинающего школьника могут оказаться утомительными. 
                    Поэтому лучше всего за неделю до школы начать поднимать ребенка пораньше, организуйте ему распорядок дня, близкий к школьному, играйте с 
                    ним в интеллектуальные игры. Это поможет сделать более плавным переход к школьному режиму и не сломать естественный ритм жизни ребенка                    
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}