{% extends 'base.html.twig' %}

{% block body %}

{% block content %}

<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">4.07.2015</p>
                <h2 style="margin-top: 0px;">
                    Школьное питание ребенка для пользы здоровья
                </h2>
                <p>
                    Начало обучения в школе добавляет физические и умственные нагрузки к итак не простому периоду. Ведь с 6 до 12 лет происходят гормональные перестройки организма и его активный рост. Поэтому очень важным является ответственный подход к выбору продуктов, которые ребенок кушает в школе.
                </p>
                <p>
                    Рацион питания в полной мере должен обеспечивать все энергетические затраты, вызванные не только интенсивным ростом, но и активным образом жизни школьников. Достаточно часто бывает, что восполнение энергии происходит за счет высокоуглеводных продуктов, проще говоря, шоколада, конфет, печений, а также продуктов с большим содержанием жира. Это может повлечь не только развитие гастрита, но и спровоцировать проблемы с излишним весом, что, к сожалению, достаточно распространено сегодня. 
                   Ответственность за правильное питание ребенка полностью лежит на его родителях. Именно они должны активно пропагандировать пользу здорового образа жизни. Причем делать это необходимо не только на словах, но и собственным наглядным примером. Сложно убедить ребенка в том, что перекусить в школе лучше яблоком, а не пакетиком чипсов, если сами родители берут с собой на обед шоколадный батончик и лапшу быстрого приготовления. Также родители должны активно интересоваться тем, что предлагают ребенку в школе на обед. Отмечено, что школьники, получающие на обед горячее питание, легче переносят нагрузки и утомляются. Также правильное питание для детей прекрасно профилактирует возможное развитие заболеваний желудочно-кишечного тракта. 
                </p>
                <p>
                    Методики, делающие питание ребенка в школе рациональным, давно имеются. Данное питание можно сравнить по составу с диетическим. В нем должны отсутствовать острые приправы, комбинированные жиры, сомнительные соусы. Способы приготовления также должны быть щадящими, никакого фритюра. Исходя из этих требований, еще до начала занятий разрабатывается примерное меню, учитывающее потребности ребенка. Родителям необходимо лишь контролировать данный процесс, обеспечивать ребенка полноценным завтраком и давать с собой в школу полезные продукты. 
                </p>
                <p>
                    Рацион питания старших школьников: основные правила Всем нам известно, что у старших школьников множество специфических забот, и дело здесь не только в поступлении в ВУЗ, к которому сможет подготовить хороший репетитор – речь в основном идет об тех изменениях, которые вызывает в организме гормональная буря полового созревания. Помочь легче перенести данный этап взросления призван правильно подобранный рацион питания подростков. 
                </p>
                <p>
                    Обратите внимание на то, что рацион питания ребенка данного возраста должен обеспечивать организм в полной мере всеми нужными веществами, а также достаточным количеством энергии. Питание старшеклассника должно быть таковым, чтобы не наблюдалось длительного избытка или же нехватки какого-то компонента пищи, это весьма критично в подростковом возрасте, когда происходит активный рост организма. Обратите внимание на то, что при правильном питании для детей школьного возраста подросток не должен испытывать чувство голода, конечно же, в первую очередь это касается девушек, которые стремятся испробовать каждую новомодную диету. Дело в том, что недостаток любых питательных веществ, который неизбежно вызовет любая диета, способен привести к задержке в росте и развитии подростка. Необходимо забыть о продуктах с высоким гликемическим индексом (сахар, изделия с ним вроде конфет, сладких напитков, картофель и т.д.), потребление которых вполне способно привести к ожирению и сопутствующим заболеваниям. А вот употребление продуктов с низким гликемическим индексом обеспечит чувство насыщения и позволит пополнить запасы энергии. 
                </p>                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}