{% extends 'base.html.twig' %}

{% block body %}

{% block content %}

<div class="container-fluid" id="about">
    <div class="container about">
        <div class="row nice-container">
            <div class="col-xs-12 nice-container-inner">
                <p class="time">01.07.2015</p>
                <h2 style="margin-top: 0px;">
                    Школьникам добавят уроков физкультуры
                </h2>
                <p>
                    Министерство здравоохранения России хочет добавить в школах количество уроков физкультуры. Таким образом, планируется проводить не 3, а 6 занятий в неделю, а взрослых собираются обязать к зарядке на производстве.
                </p>
                <p>
                    По словам одного из инициаторов подобных нововведений, вице-президента «Лиги здоровья нации» Виктора Антюхова, это не только снизит уровень заболеваемости среди школьников, но и будет прекрасной профилактикой болезней сердечно-сосудистой системы.
                </p>
                <p>
                    По результатам последних исследований, продолжительность жизни современных детей может уменьшиться на 5 лет по сравнению с их родителями. Чтобы предотвратить подобную тенденцию, предлагают увеличить для школьников физические нагрузки.
                    Если Минздрав примет соответствующее решение, окончательное решение вынесет Министерство образования и науки России.
                </p>
                <p>
                    В то же время врач-педиатр Кирилл Калистратов отметил, что детей на уроках физкультуры нужно делить на группы в соответствии с их возможностями, а также необходимо провести модернизацию школьного инвентаря и поднять уровень качества преподавания данного предмета в целом.
                </p>
                <p>
                    А руководитель Всероссийского фонда «Образование» Сергей Комков отметил, что на сегодня только 15%  школ РФ имеют спортзалы, а спортивные площадки большинства учебных заведений находятся в очень плохом состоянии.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}