<form class="form-horizontal filters">
    <div class="form-group" style="margin-bottom: 0px;">
        <div class="col-xs-5" style="float: right;">
            <a href="#" class = "printStyle" print_table_id = 'resultTableTarif'>
                Распечатать <img src="{{ asset('img/iconPrint.png') }}"/>
            </a>
        </div>
    </div>
</form>
<div id = 'resultTableTarif'>
    {% include 'MainBundle:Main:tarifs.html.twig' %}
</div>