<form class="form-horizontal filters">
    <div class="form-group" style="margin-bottom: 0px;">
        <div class="col-xs-5" style="float: right;">
        </div>
    </div>
</form>
<div>
    {% include 'MainBundle:Main:tarifs.html.twig' %}
</div>