{% extends 'base_cabinet.html.twig' %}

{% block user_information %}
    {{ render(controller('CabinetBundle:Boss:userInformation')) }}
{% endblock %}

{% block main_menu %}
    <ul class="level-one">
        <li class="active"><a href="#" data-block="1">Питание</a></li>
        <li><a href="#" data-block="2">Вход-выход</a></li>
        <li><a href="#" data-block="3">Дополнительное образование</a></li>
        <li><a href="#" data-block="4">Фонд школы</a></li>
        <li><a href="#" data-block="5">Списки классов/групп</a></li>
        <li><a href="#" data-block="6">Баланс лицевых счетов</a></li>
    </ul>
{% endblock %}

{% block menu %}
    <ul class="level-two">
        <li data-block="1" class="active">
            <div data-panel="menu_for_cnt" id="tab_pitanie" class="level-two-item active">
                Меню
            </div>
            <div data-panel="zakaz" id="tab_pitanie" class="level-two-item">
                Заказы питания по классам/группам
            </div>
            <div data-panel="pitanie" id="tab_pitanie" class="level-two-item">
                Питание по классам/группам
            </div>
            <div data-panel="rep-kp" id="tab_pitanie" class="level-two-item">
                Отчет по комплексному питанию
            </div>
            <div data-panel="rep-ind" id="tab_pitanie" class="level-two-item">
                Отчет по индивидуальному питанию
            </div>
            <div data-panel="rep-comm" id="tab_pitanie" class="level-two-item">
                Общий отчет для КП
            </div>
            <div data-panel="rep-tabel-cat" id="tab_pitanie" class="level-two-item">
                Табель учета бесплатного питания
            </div>
            {#<div data-panel="rep-tabel-ved" id="tab_pitanie" class="level-two-item">
                Ведомость по предоставлению бесплатного питания
            </div>#}
            <div data-panel="rep-reestr" id="tab_pitanie" class="level-two-item">
                Реестр справок
            </div>
            <div data-panel="rep-count-dinner" id="tab_pitanie" class="level-two-item">
                Отчет по количеству обедов
            </div>
            <div data-panel="rep-fio-dinner" id="tab_pitanie" class="level-two-item">
                Отчет по ФИО учащихся
            </div>
            <div data-panel="rep-tabel-class" id="tab_pitanie" class="level-two-item">
                Табель по классам/группам
            </div>
        </li>

        <li data-block="2">
            <div data-panel="ent-pupil" id="tab_pitanie" class="level-two-item">
                Данные турникета по обучающимся
            </div>
            <div data-panel="ent-staff" id="tab_pitanie" class="level-two-item">
                Данные турникета по сотрудникам
            </div>
            <div data-panel="ent-teacher" id="tab_pitanie" class="level-two-item">
                Данные турникета по классным руководителям
            </div>
        </li>

        <li data-block="3">
            <div data-panel="rep-pupil" id="tab_pitanie" class="level-two-item">
                Отчет по обучающимся
            </div>
            <div data-panel="rep-uslugi" id="tab_pitanie" class="level-two-item">
                Отчет по услугам
            </div>
        </li>

        <li data-block="4">
            <div data-panel="bill-fond" id="tab_pitanie" class="level-two-item">
                Счета на оплату в фонд школы
            </div>
            <div data-panel="bill-school" id="tab_pitanie" class="level-two-item">
                Отчеты по расходованию средств фонда школы
            </div>
        </li>

        <li data-block="5">
            <div data-panel="list-class" id="tab_pitanie" class="level-two-item">
                СПИСКИ обучающихся по классам/группам
            </div>
            <div data-panel="list-teacher" id="tab_pitanie" class="level-two-item">
                СПИСКИ классных руководителей/кураторов
            </div>
            <div data-panel="list-staff" id="tab_pitanie" class="level-two-item">
                СПИСКИ сотрудников
            </div>
        </li>

        <li data-block="6">
            <div data-panel="balance-accounts" id="tab_pitanie" class="level-two-item">
                Баланс лицевых счетов
            </div>
        </li>
    </ul>
{% endblock %}

{% block reports %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane user-form active" id="menu_for_cnt">
            {% include 'CabinetBundle:Boss/menu:mainmenu.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="zakaz">
            {% include 'CabinetBundle:Boss/zakaz:zakaz.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="pitanie">
            {% include 'CabinetBundle:Boss/pitanie:pitanie.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="rep-kp">
            {% include 'CabinetBundle:Boss/rep1:rep_pit_1.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="rep-ind">
            {% include 'CabinetBundle:Boss/rep2:rep_pit_2.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="rep-comm">
            {% include 'CabinetBundle:Boss/rep3:rep_pit_3.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="rep-tabel-cat">
            {% include 'CabinetBundle:Boss/rep_tabel_cat:rep_tabel_cat.html.twig' %}
        </div>
        {#<div role="tabpanel" class="tab-pane user-form" id="rep-tabel-ved">
            {% include 'CabinetBundle:Boss/rep_tabel_ved:rep_tabel_ved.html.twig' %}
        </div>#}
        <div role="tabpanel" class="tab-pane user-form" id="rep-reestr">
            {% include 'CabinetBundle:Boss/rep_reestr:rep_reestr.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="ent-pupil">
            {% include 'CabinetBundle:Boss/ent_pupil:ent_pupil.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="ent-staff">
            {% include 'CabinetBundle:Boss/ent_staff:ent_staff.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="ent-teacher">
            {% include 'CabinetBundle:Boss/ent_teacher:ent_teacher.html.twig' %}
        </div>
    </div>
{% endblock %}