{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="about">
            <div class="container about">
                <div class="row nice-container">
                    <div class="col-xs-12">
                        <h2 style="margin-top: 0px;">
                            Вопрос-Ответ
                        </h2>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Может ли ученик получить индивидуальную пластиковую карту, если оплату  его питания осуществляет классный руководитель по единой карте класса
                                </div>
                                <div class="answer">
                                    Да. Ученику может быть выдана индивидуальная пластиковая карта  для оплаты свободного выбора блюд в школьной столовой. При этом классный руководитель будет оплачивать комплексные обеды за этого ученика по единой карте класса, а ученик будет оплачивать свое дополнительное питание в школьной столовой сам по индивидуальной пластиковой школьной карте.
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Как получить школьную карту на ученика
                                </div>
                                <div class="answer">
                                    Для получения пластиковой школьной карты родителю необходимо обратиться в школу к лицу, ответственному за питание, и заполнить заявление о выдаче школьной карты, либо позвонить в call-центр по тел. 8-800-500-65-86 (звонок по России бесплатный). Образец заявления на выдачу пластиковой карты имеется на сайте <a href="http://www.shket-it.ru" target="_blank">www.shket-it.ru</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Может ли классный руководитель оплатить по единой карте класса питание какого-либо ученика по свободному выбору блюд
                                </div>
                                <div class="answer">
                                    Нет. Классный руководитель оплачивает по единой карте класса только комплексные обеда класса. Оплата питания по свободному выбору блюд производится учеником самостоятельно либо наличными денежными средствами либо с помощью индивидуальной пластиковой карты
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Как  положить деньги для оплаты за тариф
                                </div>
                                <div class="answer">
                                    Оплата за тариф производится с лицевого счета ребенка из денежных средств, которые родитель кладет для оплаты и питания и тарифа. Родитель кладет деньги на оплату питания и тариф на один лицевой счет
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    В какой день месяца производится оплата за тариф
                                </div>
                                <div class="answer">
                                    Оплата за тариф производится путем списания с лицевого счета ребенка ежемесячно в первый учебный день месяца
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Как часто можно менять тариф
                                </div>
                                <div class="answer">
                                    Тариф меняется с 1-го числа следующего месяца. Тариф можно менять в личном кабинете родителя, либо позвонив в call-центр по тел. 8-800-500-65-86 (звонок по России бесплатный)
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Как производится пополнение баланса карты при наличии одновременно единой карты класса и индивидуальной карты
                                </div>
                                <div class="answer">
                                    Лицевой счет ученика только один. Родители пополняют лицевой счет ученика способами, указанными на сайте <a href="http://www.shket-it.ru" target="_blank">www.shket-it.ru</a> в разделе "Оплата"
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Должны ли родители подписывать соглашение, если они отказываются оформлять карту для ребенка
                                </div>
                                <div class="answer">
                                    Если родители отказываются оформлять индивидуальную пластиковую карту на ребенка, а также пользоваться услугами личного кабинета и/или SMS-информирования, они не подписывают соглашение, за исключением случаев, предусмотренных локальными актами учебного учреждения
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Может ли классный руководитель оплачивать комплексные обеды ученика, если его родители не  подписали анкету и соглашение об использовании системы
                                </div>
                                <div class="answer">
                                    Нет. Классный руководитель оплачивает питание только тех учеников,  родители которых подписали анкету об использовании системы. Соглашение об использование системы является договором оферты и вступает в силу при подписании родителем анкеты
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Как будет осуществляться питание ребенка, если родители отказались подписывать анкету и соглашение об использовании системы
                                </div>
                                <div class="answer">
                                    В случае отказа родителя от подписания анкеты и соглашения об использовании системы оплата  питания его ребенка  будет производиться ребенком самостоятельно наличными денежными средствами в кассу столовой или буфета школы
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Не приходят СМС. Что делать?
                                </div>
                                <div class="answer">
                                    Обратиться в call-центр по тел. 8-800-500-65-86 (звонок по России бесплатный)
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Возможно ли пользоваться услугами личного кабинета и/или SMS-информирования родителем, чей ребенок питается за счет средств бюджета
                                </div>
                                <div class="answer">
                                    Да, для этого необходимо заполнить анкету и подписать соглашение. Оплата за услуги будет производиться по соответствующему тарифу
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Что делать, если родитель не оплатил за питание и у него будет задержка в оплате. Могут ли кормить в долг (при задержке платежа)
                                </div>
                                <div class="answer">
                                    При нулевом и/или отрицательно балансе лицевого счета ребенка  классный руководитель может оплачивать его питание, но не более чем 3 раза (3 комплексных обеда). Оплата питания в долг при свободной выборе блюд по индивидуальной карте на кассе в столовой или буфете школы не допускается
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Может ли по индивидуальной карте получить питание другой человек
                                </div>
                                <div class="answer">
                                    Нет. При расчете в столовой за питание по индивидуальной пластиковой школьной карте на мониторе высвечивается фотография ребенка. При утере карты необходимо позвонить в call-центр по тел. 8-800-500-65-86 (звонок по России бесплатный)  для блокировки карты
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Не удается зайти в личный кабинет. Что делать?
                                </div>
                                <div class="answer">
                                    Обратиться в call-центр по тел. 8-800-500-65-86 (звонок по России бесплатный)
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Можно ли снять остаток денег с лицевого счета
                                </div>
                                <div class="answer">
                                    Неиспользованный остаток денежных средств на лицевом счете ребенка может быть возвращен по заявлению родителя, поданному через классного руководителя в компанию ООО «ШКЭТ», или направленному по факсу в компанию ООО «ШКЭТ» или через личный  кабинет родителя. Возврат осуществляется на расчетный счет родителя, открытый в кредитном учреждении. Выдача наличных денежных средств родителям не предусмотрена. Неиспользованный остаток является переходящим и может быть использован в последующие периоды
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Как быстро производится замена карты (брелка, браслета) при ее утере или повреждении
                                </div>
                                <div class="answer">
                                    Замена карты (брелка, браслета) производится, как правило,  в течение 1 дня. За новой картой (брелком, браслетом) взамен утерянной/испорченной ученик/учащийся  обращается  к ответственному лицу в учреждении. Ответственное лицо в учреждении звонит в call-центр компании ООО «ШКЭТ», называет учреждение, ФИО, класс/группу, номер новой карты (брелка, браслета).  Оператор call-центра проверяет по базе данные, прикрепляет новую карту (брелок, браслет) к ребенку. Ответственное лицо в учреждении заполняет  Ведомость на получение карт (брелков, браслетов) и после этого карта (брелок, браслет) выдается ученику
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-12 nice-container-inner">
                                <div class="question">
                                    Возможные направления развития системы в школе
                                </div>
                                <div class="answer">
                                    Школьные карты могут использоваться не только для оплаты питания в школе. При установке в школе турникетных систем либо только считывателей  школьные карты могут использоваться для контроля родителями посещаемости учеников. В этом случае при поднесении карты к считывателю родитель будет получать SMS-сообщения о времени входа и выхода ребенка из школы и просматривать эту информацию в своем личном кабинете. Эти же карты могут использоваться при пользовании  библиотекой школы, медобслуживанием, а в будущем и для оплаты проезда в общественном транспорте.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

