{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="about">
            <div class="container about">
                <div class="row nice-container">
                    <div class="col-xs-12 nice-container-inner">
                        <h2 style="margin-top: 0px;">
                            Пользователям
                        </h2>
                        <h3 class="special">Преимущества для родителя:</h3>
                        <ul class="simple">
                            <li>контроль денежных трат ребенка и потребления им конкретных продуктов</li>
                            <li>сохранение здоровья ребенка, устойчивости к действию инфекций и других неблагоприятных факторов</li>
                            <li>избежание контакта ребенка с наличными деньгами, траты их на продукты, «вредные» для здоровья</li>
                            <li>решение еще одной проблемы - проблемы воровства денег у школьников или их потери</li>
                            <li>спокойствие и уверенность в безопасности детей, мобильность и комфорт в использовании</li>
                            <li>SMS информирование о балансе денежных средств на школьной карте ребенка</li>
                            <li>SMS информирование о времени входа и выхода ребенка из школы, посещении занятий дополнительного образования</li>
                            <li>повышение успеваемости ребенка</li>
                        </ul>
                        <h4 class="special" style="margin-top: 20px;">В Личном кабинете родитель может:</h4>
                        <ul class="simple">
                            <li>следить за балансом лицевого счета ребенка</li>
                            <li>пополнить баланс лицевого счета ребенка</li>
                            <li>посмотреть меню школьной столовой</li>
                            <li>следить за питанием ребенка</li>
                            <li>просматривать Online информацию о времени входа и выхода ребенка и посещения занятий по дополнительному образования</li>
                            <li>посмотреть отчет школы о расходовании средств фонда школы</li>
                            <li>посмотреть справочник тарифов и поменять тариф</li>
                            <li>написать сообщение в наш call-центр </li>
                        </ul>
                        <h3 class="special" style="margin-top: 40px;">Преимущества для директора:</h3>
                        <ul class="simple">
                            <li>полная Online-информация в личном кабинете директора по питанию (количество питающихся, стоимости питания, продуктам питания)</li>
                            <li>полная Online-информация в личном кабинете директора о времени входа и выхода каждого обучающегося и каждого сотрудника учебного учреждения и  посещения учениками занятий по дополнительному образования</li>
                            <li>увеличение численности питающихся, соблюдение режима здорового питания</li>
                            <li>увеличение пропускной способности столовой, равномерное распределение нагрузки на работу столовой</li>
                            <li>проявление заботы о безопасности детей: повышение уровня контроля над расходованием средств учениками (выделенные на питание средства нельзя потратить на «вредные продукты», в том числе алкогольная продукция, сигареты)</li>
                            <li>ограничение доступа в учреждение посторонних лиц</li>
                        </ul>
                        <h4 class="special" style="margin-top: 20px;">В Личном кабинете директор может:</h4>
                        <ul class="simple">
                            <li>сформировать различные отчеты по питанию учеников, в том числе по питанию учеников за счет бюджетных средств</li>
                            <li>вносить информацию о детях по категориям: льготники</li>
                            <li>просматривать Online информацию о времени входа и выхода ребенка и посещения занятий по дополнительному образования</li>
                            <li>просматривать и распечатывать отчеты по поступлению денежных средств от родителей в фонд школы</li>
                            <li>посмотреть меню школьной столовой</li>
                            <li>написать сообщение в наш call-центр</li>
                        </ul>
                        <h3 class="special" style="margin-top: 40px;">Преимущества для учителя:</h3>
                        <ul class="simple">
                            <li>освобождение от работы с наличными деньгами</li>
                            <li>легкость и быстрота оплаты за питание всего класса</li>
                            <li>удобный и понятный интерфейс программы</li>
                        </ul>
                        <h4 class="special" style="margin-top: 20px;">В Личном кабинете учитель может:</h4>
                        <ul class="simple">
                            <li>видеть историю оплат и питания по каждому ученику его класса</li>
                            <li>контролировать оплату родителями за питание, просматривать меню столовой</li>
                            <li>ежедневно формировать заявки на питание учеников</li>
                            <li>вносить информацию о детях по категориям: льготники</li>
                            <li>написать сообщение в наш call-центр</li>
                        </ul>
                        <h3 class="special" style="margin-top: 40px;">Преимущества для Комбината питания:</h3>
                        <ul class="simple">
                            <li>автоматизация расчетов, быстрота обслуживания</li>
                            <li>ежедневное получение денег за питание</li>
                            <li>увеличение числа питающихся, повышение объема оборотных средств</li>
                            <li>удобный и понятный интерфейс программы, быстрота обслуживания, возможность вносить изменения в меню</li>
                        </ul>
                        <h4 class="special" style="margin-top: 20px;">В Личном кабинете Комбинат питания может:</h4>
                        <ul class="simple">
                            <li>просматривать и распечатывать отчеты по питанию</li>
                            <li>написать сообщение в наш call-центр</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

