<div>
    Здравствуйте!<br/>
    Вашей контактной формой было отправлено сообщение!<br/>
    <b>Имя отправителя:</b> {{ params['fio'] }}<br/>
    <b>E-mail:</b> {{ params['email'] }}<br/>
    <b>Телефон:</b> {{ params['phone'] }}<br/>
    <b>Текст сообщения:</b> {{ params['msg'] }}
</div>