{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="documents">
            <div class="container documents">
                <div class="row nice-container">
                    <div class="col-xs-12">
                        <h2 style="margin-top: 0px;">
                            Новости
                        </h2>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <h4>
                                        Смс-оповещение при нулевом и отрицательном балансе
                                    </h4>
                                    <time>15.11.2015</time>
                                    <p>
                                        Рады сообщить Вам о том, что с 20 ноября 2015 г. возобновляется отправка СМС при нулевом и отрицательном балансе лицевого счета.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <h4>
                                        У нас новый сайт
                                    </h4>
                                    <time>30.07.2015</time>
                                    <p>
                                        Рады представить Вам наш сайт в новой версии и сообщаем, что доступ в личные кабинеты временно закрыт в связи с проведением профилактических работ.
                                        Личные кабинеты будут доступны с 29 августа 2015 года.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <h4>
                                        СМС-оповещение при нулевом и отрицательном балансе
                                    </h4>
                                    <time>09.07.2015</time>
                                    <p>
                                        Сообщаем Вам о том, что с 01 сентября 2015 года SMS-сообщения не будут отправляться  при нулевом и отрицательном балансе.
                                        Просим своевременно пополнять лицевой счет.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <h4>
                                        СМС-оповещение о входе-выходе в режиме он-лайн
                                    </h4>
                                    <time>10.06.2015</time>
                                    <p>
                                        Информируем Вас о том, что с 01 сентября 2015 года SMS-оповещение о времени входа и выхода ребенка из учебного учреждения будет происходить в
                                        режиме Online, т.е. в момент прохода ребенка через турникет вам будет приходить SMS
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <h4>
                                        Родителям об остатках денег на счетах на 31 мая и тарифах
                                    </h4>
                                    <time>31.05.2015</time>
                                    <p>
                                        На время летних школьных каникул (июнь, июль, август) все тарифы автоматически отключаются.
                                        Летом не будут производиться списания  абонентской платы по тарифам.   Денежные средства, оставшиеся на лицевых счетах на 31 мая 2015 г.
                                        полностью сохраняются и с 1 сентября 2015 г. будут доступны для расчетов за школьное питание.
                                        Желаем Вам и Вашим детям волшебного, незабываемого лета и полностью насладиться теплыми днями!
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <h4>
                                        Родителям о пополнении баланса
                                    </h4>
                                    <time>30.03.2015</time>
                                    <p>
                                        Просим Вас своевременно пополнять баланс лицевого счета ребенка.
                                        Напоминаем, что наша компания предоставляет обещанный платеж в размере стоимости не более  трёх обедов.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

