{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="about">
            <div class="container about">
                <div class="row nice-container">
                    <div class="col-xs-12 nice-container-inner">
                        <h2 style="margin-top: 0px;">
                            Реквизиты ООО "ШКЭТ" для оплаты в отделениях сбербанка
                        </h2>
                        <p>
                            Общество с ограниченной ответственностью <strong>"Школьные электронные технологии"</strong>
                        </p>
                        <p>
                            ОГРН <strong>1145958006490</strong>
                        </p>
                        <p>
                            ИНН <strong>5904992823</strong>
                        </p>
                        <p>
                            КПП <strong>590401001</strong>
                        </p>
                        <p>
                            р/с № <strong>40702810749770010484</strong> в Пермском отделении № 6984 Западно-Уральского Банка ОАО «Сбербанк России» г. Пермь
                        </p>
                        <p>
                            к/с <strong>30101810900000000603</strong>
                        </p>
                        <p>
                            БИК <strong>045773603</strong>
                        </p>
                        <p>
                            Назначение платежа: оплата за питание/тариф по лицевому счету №______ за ________ (ФИО ребенка)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

