{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="about">
            <div class="container about">
                <div class="row nice-container">
                    <div class="col-xs-12 nice-container-inner">
                        <h2 style="margin-top: 0px;">
                            Пункты приема платежей - комиссия составит 1,2%
                        </h2>
                        <p>
                            <strong>Ленинский район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. Ленина, 34 (м-н"Центральный гастроном" - 2 этаж)</li>
                            <li>ул. Ленина, 49а</li>
                            <li>ул. Екатерининская, 51</li>
                            <li>ул. Пушкина, 13</li>
                        </ul>

                        <p>
                            <strong>Индустриальный район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. Мира, 7</li>
                            <li>ул. Мира, 68</li>
                            <li>ул. Мира, 93</li>
                            <li>ул. Беляева, 49а</li>
                        </ul>

                        <p>
                            <strong>Дзержинский район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. Барамзиной, 54</li>
                            <li>ул. Ветлужская, 62</li>
                            <li>пр. Парковый, 5 (м-н "ТАЛАН")</li>
                            <li>пр. Парковый, 33 (м-н "Уралимпэкс")</li>
                            <li>ул. Орджоникидзе, 119</li>
                        </ul>

                        <p>
                            <strong>Свердловский район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. А.Гатауллина, 27</li>
                            <li>ул. Героев Хасана, 149/3</li>
                            <li>ул. К.Цеткин, 23</li>
                            <li>ул. Комсомольский проспект, 84</li>
                            <li>ул. Краснополянская, 8</li>
                            <li>ул. Куйбышева, 67</li>
                            <li>ул. Куйбышева, 153</li>
                            <li>ул. Лодыгина, 28 (2 этаж)</li>
                            <li>ул. Рабоче-Крестьянская, 32</li>
                            <li>ул. Серебрянский проезд, 2</li>
                        </ul>

                        <p>
                            <strong>Мотовилихинский район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. 1905 года, 2</li>
                            <li>ул. 1905 года, 18</li>
                            <li>ул. Ким, 41 (2 этаж)</li>
                            <li>ул. Крупской, 42</li>
                            <li>ул. Лебедева, 29</li>
                            <li>ул. Постаногова, 7</li>
                            <li>ул. Уинская, 42а</li>
                        </ul>

                        <p>
                            <strong>Орджоникидзевский район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. Бенгальская, 6</li>
                            <li>ул. Веденеева, 41</li>
                            <li>ул. Кабельщиков, 93</li>
                            <li>ул. Социалистическая, 8</li>
                            <li>ул. Суперфосфатная, 8</li>
                        </ul>

                        <p>
                            <strong>Кировский район</strong>
                        </p>
                        <ul class="simple">
                            <li>ул. М.Рыбалко, 34</li>
                            <li>ул. М.Рыбалко, 99б</li>
                            <li>ул. Химградская, 45</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}