{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="about">
            <div class="container about">
                <div class="row nice-container">
                    <div class="col-xs-12 nice-container-inner">
                        <h2 style="margin-top: 0px;">
                            Учреждения
                        </h2>
                        <ul class="simple">
                            <li><a href="#">КГАПОУ «Пермский торгово-технологический колледж», г. Пермь, ул. Крупской, 52</a></li>
                            <li><a href="#">МАОУ «СОШ № 1», г. Пермь, ул. Калинина, 19</a></li>
                            <li><a href="#">МАОУ «СОШ № 16», г. Пермь, ул. Веденеева, 71</a></li>
                            <li><a href="#">МАОУ «СОШ № 36», г. Пермь, ул. Лукоянова, 36</a></li>
                            <li><a href="#">МАОУ «СОШ № 41», г. Пермь, ул. Серебрянский проезд, 9</a></li>
                            <li><a href="#">МАОУ «СОШ № 65», г. Пермь, ул. Кировоградская, 53</a></li>
                            <li><a href="#">МАОУ «СОШ № 80», г. Пермь, ул. Толбухина, 33</a></li>
                            <li><a href="#">МАОУ «СОШ № 88», г. Пермь, ул. Пархоменко, 2</a></li>
                            <li><a href="#">МАОУ «СОШ № 114», г. Пермь, ул. Крупской, 92</a></li>
                            <li><a href="#">МАОУ «СОШ № 131», г. Пермь, ул. Черняховского, 72</a></li>
                            <li><a href="#">МАОУ «Соколовская СОШ», пос. Сокол, 15б</a></li>
                            <li><a href="#">МАОУ «Гимназия», г. Чернушка, ул. Красноармейская, 96</a></li>
                            <li><a href="#">МАОУ «Гимназия № 16», г. Кунгур, ул. Ленина, 75</a></li>
                            <li><a href="#">МАОУ «Лицей № 1», г. Кунгур, ул. Октябрьская, 28</a></li>
                            <li><a href="#">МАОУ «СОШ № 1», г. Кунгур, ул. Пугачёва, 63</a></li>
                            <li><a href="#">МАОУ «СОШ № 10», г. Кунгур, ул. Карла Маркса, 23</a></li>
                        </ul>
                        </br>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}