<div class="row">
    <div class="col-xs-3">
        <div class="table-container">
            <table class="table-tariffs-left table table-striped">
                <thead>
                <th style="height: 51px;">
                    Характеристики тарифа
                </th>
                </thead>
                <tbody>
                <tr><td>Аб. плата в месяц</td></tr>
                <tr><td>Личный кабинет, просмотр поступления/списания денег за питание и тарифы № 1, 4,6</td></tr>
                <tr><td>Личный кабинет, просмотр поступления/ списания денег за тарифы № 2, 7, 8</td></tr>
                <tr><td>Личный кабинет, просмотр поступления/ списания денег за питание и тарифы № 3, 5, 9, 10</td></tr>
                <tr><td>Личный кабинет, просмотр остатка денежных средств</td></tr>
                <tr><td>Личный кабинет, установка лимита расхода денежных средств на день</td></tr>
                <tr><td>Личный кабинет, информация о входе-выходе</td></tr>
                <tr><td>Личный кабинет, расшифровка по блюдам, просмотр меню</td></tr>
                <tr><td>СМС при балансе менее 100 рублей</td></tr>
                <tr><td>СМС о поступлении/списании денежных средств</td></tr>
                <tr><td>СМС о времени входа-выхода</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="table-container">
            <table class="table-tariffs-right table table-striped">
                <thead>
                <th style="height: 51px;"><strong>1</strong> <span>Базовый</span></th>
                <th style="height: 51px;"><strong>2</strong> <span>Базовый вход-выход</span></th>
                <th style="height: 51px;"><strong>3</strong> <span>Базовый полный</span></th>
                <th style="height: 51px;"><strong>4</strong> <span>Личный кабинет</span></th>
                <th style="height: 51px;"><strong>5</strong> <span>Личный кабинет полный</span></th>
                <th style="height: 51px;"><strong>6</strong> <span>Полный пакет</span></th>
                <th style="height: 51px;"><strong>7</strong> <span>Вход-выход</span></th>
                <th style="height: 51px;"><strong>8</strong> <span>Полный пакет вход-выход</span></th>
                <th style="height: 51px;"><strong>9</strong> <span>Деловой</span></th>
                <th style="height: 51px;"><strong>10</strong> <span>Максимум</span></th>
                </thead>
                <tbody>
                <tr>
                    <td class="price">45</td>
                    <td class="price">45</td>
                    <td class="price">81</td>
                    <td class="price">75</td>
                    <td class="price">111</td>
                    <td class="price">105</td>
                    <td class="price">120</td>
                    <td class="price">150</td>
                    <td class="price">165</td>
                    <td class="price">210</td>
                </tr>
                <tr style="height: 80px;">
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 82px;">
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 82px;">
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="height: 60px;">
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="height: 82px;">
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="height: 60px;">
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="height: 60px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="height: 60px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                </tr>
                <tr style="height: 60px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="height: 40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                    <td><div class="marker"></div></td>
                </tr>
                <tr style="display: none;">
                    <td>
                        <p>В личном кабинете имеется возможность установления суточного лимита расходования денежных средств по карте. Суточный лимит не распространяется на комплексные обеды.</p>
                        <p>Информацию о школах, в которых действует Тариф "Нулевой", узнавайте в call-центр  по тел. <strong>8-800-500-65-86 (звонок по России бесплатный)</strong></p>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация о поступлении и списании денежных средств по КАРТСЧЕТУ за питание и тариф, остатке денежных средств на лицевом счете карты, а также имеется возможность установления суточного лимита расходования денежных средств по карте.</p>
                    </td>
                    <td><p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода ребенка из учебного учреждения</li>
                            <li>о поступлении и списании денежных средств за тариф и об остатке денежных средств на лицевом счете.</li>
                        </ul>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода ребенка из учебного учреждения</li>
                            <li>о поступлении и списании денежных средств за питание и тариф, об остатке денежных средств на лицевом счете карты</li>
                        </ul>
                        <p>А так же, имеется возможность установления суточного лимита расходования денежных средств по карте.</p>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о том, что и когда поел Ваш ребенок (по блюдам), стоимость блюд, меню столовой</li>
                            <li>о поступлении и списании денежных средств по лицевому счету за питание и тариф, остатке денежных средств на лицевом счете карты</li>
                        </ul>
                        <p>А так же, имеется возможность установления суточного лимита расходования денежных средств по карте  и  Вы будете получать SMS-сообщение о пополнении баланса при остатке менее 100 р. на счете карты.</p>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода ребенка из учебного учреждения</li>
                            <li>о том, что и когда поел Ваш ребенок (по блюдам), стоимость блюд, меню столовой</li>
                            <li>о поступлении и списании денежных средств за питание и тариф, об остатке денежных средств на лицевом счету</li>
                        </ul>
                        <p>А так же, имеется возможность установления суточного лимита расходования денежных средств по карте и  Вы будете получать SMS-сообщение о пополнении баланса при остатке менее 100 р. на счете карты</p>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о том, что и когда поел Ваш ребенок (по блюдам), стоимость блюд, меню столовой</li>
                            <li>о поступлении и списании денежных средств по лицевому счету за питание и тариф, остатке денежных средств на лицевом счете карты</li>
                        </ul>
                        <p>А так же, имеется возможность установления суточного лимита расходования денежных средств по карте и Вы будете получать SMS-сообщения:</p>
                        <ul class="simple">
                            <li>о поступивших суммах и суммах, списанных за питание ребенка, за тариф и о текущем остатке денежных средств на лицевом счете</li>
                        </ul>
                    </td>
                    <td>
                        <p>Вы будете получать SMS-сообщения о времени входа и выхода ребенка из учебного учреждения.</p>
                        <p>А также, в личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о поступлении и списании денежных средств за тариф и об остатке денежных средств на лицевом счете</li>
                        </ul>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода ребенка из учебного учреждения</li>
                            <li>о поступлении и списании денежных средств за тариф и об остатке денежных средств на лицевом счете</li>
                        </ul>
                        <p>А так же Вы будете получать SMS-сообщения о времени входа и выхода ребенка из учебного учреждения.</p>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода  ребенка из учебного учреждения</li>
                            <li>о том, что и когда поел Ваш ребенок (по блюдам), стоимость блюд, меню столовой</li>
                            <li>о поступлении и списании денежных средств за питание и тариф, об остатке денежных средств на лицевом счету.</li>
                        </ul>
                        <p>А так же, имеется возможность установления суточного лимита расходования денежных средств по карте и Вы будете получать SMS-сообщения:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода ребенка из учебного учреждения</li>
                            <li>о пополнении баланса при остатке менее 100 р. на счете карты</li>
                        </ul>
                    </td>
                    <td>
                        <p>В личном кабинете доступна информация:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода  ребенка из учебного учреждения</li>
                            <li>о том, что и когда поел Ваш ребенок (по блюдам), стоимость блюд, меню столовой</li>
                            <li>о поступлении и списании денежных средств за питание и тариф, об остатке денежных средств на лицевом счету</li>
                        </ul>
                        <p>А так же, имеется возможность установления суточного лимита расходования денежных средств по карте и Вы будете получать SMS -сообщения:</p>
                        <ul class="simple">
                            <li>о времени входа и выхода ребенка из учебного учреждения</li>
                            <li>о поступивших суммах и суммах, списанных за питание ребенка, за тариф и о текущем остатке денежных средств на лицевом счете</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
        <div class="table-container" style="padding: 20px;" id="tariffsInfo">
        </div>
    </div>
</div>