{% extends 'base_cabinet.html.twig' %}

{% block user_information %}
    {{ render(controller('CabinetBundle:Teacher:userInformation')) }}
{% endblock %}

{% block main_menu %}
    <ul class="level-one">
        <li class="active">
            <a href="#" data-block="1">Питание</a>
        </li>
        <li>
            <a href="#" data-block="2">Вход-Выход</a>
        </li>
        <li>
            <a href="#" data-block="5">Списки классов/групп</a>
        </li>
        <li>
            <a href="#" data-block="6">Баланс</a>
        </li>
        <li>
            <a href="#" data-block="7">Справочник тарифов</a>
        </li>
    </ul>
{% endblock %}

{% block menu %}
    <ul class="level-two">
        <li data-block="1" class="active">
            <div data-panel="menu" class="level-two-item active">
                Меню
            </div>
            <div data-panel="zakaz" class="level-two-item">
                Заказы питания по классам/группам
            </div>
            <div data-panel="pitanie" class="level-two-item">
                Питание по классам/группам
            </div>

            <div data-panel="rep_pit_osn_3" class="level-two-item">
                <strong>Основа питания: </strong> Табель по классам/группам
            </div>
        </li>
        <li data-block="2">
            <div data-panel="rep_tur_1" class="level-two-item">
                Данные турникета по обучающимся
            </div>

        </li>

        <li data-block="5">
            <div data-panel="gr_list" class="level-two-item">
                Списки классов/групп
            </div>
        </li>
        <li data-block="6">
            <div data-panel="balance" class="level-two-item">
                Баланс лицевых счетов
            </div>
        </li>
        <li data-block="7">
            <div data-panel="spr_tarrif" class="level-two-item">
                Справочник тарифов
            </div>
        </li>
    </ul>
{% endblock %}

{% block reports %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active user-form" id="menu">
            {% include 'CabinetBundle:Teacher/menu:mainmenu.html.twig' %}
        </div>

        <div role="tabpanel" class="tab-pane user-form" id="zakaz">
            {% include 'CabinetBundle:Teacher/zakaz:zakaz.html.twig' %}
        </div>

        <div role="tabpanel" class="tab-pane user-form" id="pitanie">
            {% include 'CabinetBundle:Teacher/pitanie:pitanie.html.twig' %}
        </div>

        <div role="tabpanel" class="tab-pane user-form" id="rep_pit_osn_3">
            {% include 'CabinetBundle:Teacher/tabel:tabel.html.twig' %}
        </div>

        <div role="tabpanel" class="tab-pane user-form" id="rep_tur_1">
            {% include 'CabinetBundle:Teacher/enter:enter.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane user-form" id="gr_list">
            {% include 'CabinetBundle:Teacher/list:list.html.twig' %}
        </div>

        <div role="tabpanel" class="tab-pane user-form" id="balance">
            {% include 'CabinetBundle:Teacher/menu:mainmenu.html.twig' %}
        </div>

        <div role="tabpanel" class="tab-pane" id="spr_tarrif">
            {% include 'CabinetBundle:Teacher/menu:mainmenu.html.twig' %}
        </div>

    </div>
{% endblock %}